 body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(233, 228, 70, 0.77), rgba(69, 145, 31, 0.907));
}

header {
    text-align: center;
    font-size: 5vmin;
}

p {
    color: black;
    text-align: right;
    margin-top: 2vmin;
    font-size: 3vmin;
}

#board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(4, 20vmin);
    justify-content: center;
    gap: 2vmin;
}

button{
margin-top: 4vmin;
padding: 2vmin;
font-size: 2vmin;
border-radius: 9vmin;
border: 1vmin ridge rgba(214, 49, 3, 0.901);
color: black;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align:center; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: grid;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    transform: scale(.93);
    transition: transform 300ms ease-in;
}

.flip-card-front, .flip-card-back {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
}

.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    transform: rotateY(180deg);
    border: .7vmin;
    border-style:ridge;
    border-color: darkgray;
    border-radius: 10%;
}

.flip-card-back {
    position: absolute;
    display: grid;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    border: 0.7vmin;
    backface-visibility: hidden;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    border-radius: 10%;
}



